.header nav .nav-button {
    background-color: transparent;
    color: #fff;
    border: none; /* 移除边框 */
    padding: 8px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header nav .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.header nav .nav-button.active {
    background-color: #28a745; /* 激活状态的背景色 */
    color: #fff;
}

.tab-content.hidden {
    display: none;
}